.btn {
    width: 113px;
    height: 38px;
    background-color: $COLOR_RED;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: $COLOR_WHITE;
    &:hover {
        background-color: $COLOR_RED_HOVER;
    }
}