.content {
    position: relative;
    min-height: 696px;
    padding-bottom: 72px;
    background-color: $COLOR_WHITE;
}

.content-films, .content-channels {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1000;
    opacity: 0;
    transition: opacity linear 1s;
    &_active {
        position: static;
        z-index: 1;
        opacity: 100%;
    }
}

.novelties {
    padding-top: 32px;
    &__title {
        position: relative;
        padding-left: 32px;
    }
    &__title::before {
        content: '';
        display: block;
        width: 19px;
        height: 24px;
        position: absolute;
        top: 0;
        left: 6px;
        background: url('../icons/emoji/fire.svg') center center / cover no-repeat;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        grid-auto-columns: 280px;
        grid-auto-rows: auto;
        gap: 20px;
        padding-top: 16px;
    }
    &__item-wrapper {
        display: block;
        height: 370px;
        position: relative;
        &:hover .novelties__item-description {
            display: block;
        }
    }
    &__item-img {
        display: block;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    &__item-description {
        display: none;
        width: 100%;
        height: 100%;
        padding: 16px;
        position: absolute;
        top:0;
        left: 0;
        background-color: rgba(51, 51, 51, .8);
        border-radius: 8px;
        font-size: 16px;
        line-height: 140%;
        font-weight: 400;
        color: #F2F2F2;
        cursor: pointer;
    }
    &__item-name {
        padding-top: 16px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: $COLOR_GRAY;
        text-align: left;
    }
}

.genres {
    padding-top: 32px;
    &__items {
        display: grid;
        grid-template: 208px / repeat(auto-fill, 280px);
        grid-auto-columns: 280px;
        grid-auto-rows: 208px;
        gap: 20px;
        padding-top: 16px;
    }
    &__item {
        border-radius: 6px;
        box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &[data-genre="comedy"] {
            background: url('../icons/emoji/smile.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(242, 201, 76, 0.8) 8.44%, rgba(242, 154, 74, 0.8) 91.36%);
            &:hover {
                background: url('../icons/emoji/smile.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(242, 201, 76, 1) 8.44%, rgba(242, 154, 74, 1) 91.36%);
            }
        }
        &[data-genre="drama"] {
            background: url('../icons/emoji/cry.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(242, 153, 74, 0.8) 8.44%, rgba(235, 87, 87, 0.8) 91.36%);
            &:hover {
                background: url('../icons/emoji/cry.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(242, 153, 74, 1) 8.44%, rgba(235, 87, 87, 1) 91.36%);
            }
        }
        &[data-genre="fiction"] {
            background: url('../icons/emoji/alien.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(86, 204, 242, 0.8) 8.44%, rgba(47, 128, 237, 0.8) 91.36%);
            &:hover {
                background: url('../icons/emoji/alien.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(86, 204, 242, 1) 8.44%, rgba(47, 128, 237, 1) 91.36%);
            }
        }
        &[data-genre="horror"] {
            background: url('../icons/emoji/ghost.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(130, 130, 130, 0.8) 8.44%, rgba(51, 51, 51, 0.8) 91.36%);
            &:hover {
                background: url('../icons/emoji/ghost.svg') center center / 48px 48px no-repeat, linear-gradient(127.83deg, rgba(130, 130, 130, 1) 8.44%, rgba(51, 51, 51, 1) 91.36%);
            }
        }

    }
    &__item-link {
        display: block;
        height: 100%;
        position: relative;
    }
    &__item-name {
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        color: $COLOR_WHITE;
        text-decoration: none;
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.content-channels {
    height: 696px;
    margin-top: 27px;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
    &__scrollbar {
        width: 8px;
        height: 680px;
        position: absolute;
        top: 0;
        right: -16px;
        z-index: 6;
        background: $COLOR_GRAY-LIGHT;
        padding: 2px 0;
        border-radius: 2px;
    }
    &__scrollbar-line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 500px;
        background: #BDBDBD;
        border-radius: 2px;
        cursor: pointer;
    }
    &__item {
        min-height: 162px;
        padding: 21px 10px 19px;
        display: flex;
        align-items: center;
        background-color: $COLOR_GRAY-LIGHT;
        border-radius: 8px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__item_el-center {
        justify-content: center;
        align-items: center;
    }
    &__item-logo {
        width: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-name {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        color: $COLOR_GRAY;
    }
    &__item-program-element {
        margin-top: 12px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: $COLOR_GRAY;
    }
    &__item-program-element_active {
        color: $COLOR_RED;
    }
    &__item-program-element_mt-17 {
        margin-top: 17px;
    }
    &__item-program-element>span {
        display: inline-block;
        margin-right: 16px;
    }
}