@import 'libs/_bootstrap-reboot';
@import 'libs/_fonts';

@import 'base/_variables';
@import 'base/_mixins';

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    padding-top: 32px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

h2 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

@import 'block/_btn';
@import 'block/_title';
@import 'block/_header';
@import 'block/_tabs';
@import 'block/_content';
@import '_media';